@font-face {
   font-family: MyFirstFont;
   
   src: url(font/PlaytimeWithHotToddies3D.ttf);   
}

h1
{
    font-family: MyFirstFont;
    font-size: 80px;
    color: #00BFFF;
    margin: 0px auto;
    
}

td
{
	float:left;
}

p
{
	text-align:center;
	font-size: 25px;
	font-weight: bold
}

a:link {
    color: 	#663333;
	text-decoration: none;
	
}

a:visited {
    color: 	#663333;
}

a:hover {
    color: black;
}

a:active {
    color: #663333;
}

td.p:hover {
    color: black;
}


